$color-white: #FFF;
$color-coral: #FA824C;
$color-flame: #E4572E;
$color-buff: #F1DD7B;
$color-shiny-shamrock: #4CA866;
$color-blue-de-france: #3C91E6;
$color-black: #000;
$color-isabelline: #EEEDED;
$color-spanish-gray: #989797;
$color-blue-jeans: #001A6E;
$color-pink: #DA498D;
$color-purple: #69247C;